/* Estilos GLobales */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --bg-color: #e6e6e6;
    --primary: hwb(0 100% 0%);
    --secondary: #3282B8;
    --tertiar: #020202;
}
/* Esto hace que 1 rem = 10 pixeles */
html{
    box-sizing: border-box;
    height: 100%;
    background-color: var(--bg-color)
}
*, *:before,*:after{
    box-sizing: inherit;
} 

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: var(--tertiar);
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#card {
    background-color: var(--primary);
    /* height: 750px; */
    width: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
}

.img{
    /* width: 250px; */
    height: 350px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
}

#card__title {
    text-align: center;
    font-size: xx-large;
}

table {
    width: 100%;
}

tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
}
table{
    margin: 5px;
}

h4 {
    text-align: center;
    font-size: 25px;
}

td {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    margin: 5px 1px;
}

form {
    background-color: white;
    width: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

#aditional {
    display: none;
}

form input {
    border: none; 
    width: 150px;
}

#left {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('left.svg');
}

#right {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('right.svg');
}