<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>SecondMidterm</title>
</head>
<body>
    <main>
        <button id="left" onclick="regresar()" class="button"></button>
        <div id="card">
            <h3 id="card__title"><%= data["name"] %></h3>
            <h5><%= data["id"] %></h5>
            <img class="img" src="<%= data["image"]['url'] %>" alt="">
            <table id="table">
                <%   for (const [title, tval] of Object.entries(data)) { %>
                    <% if (!["response", 'image', 'name', 'id'].includes(title)) { %>
                        <tr class="title">
                            <td>
                                <h4><%= title %></h4>
                                <div class="bar"></div>
                            </td>
                        </tr>
                        <% for (const [key, value] of Object.entries((tval))) { %>
                            <tr>
                                <td class="key"><%= key %></td>
                                <% if(typeof(value) == 'string'){ %>
                                    <td><%= value %></td>
                                    <% } else{ %>  
                                    <td>
                                        <div class="listcont">
                                            <% value.forEach(element => { %>
                                                <ul><%= element %></ul>
                                            <%  }) %>
                                        </div>
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>
                    <% } %>
                <% } %>
            </table>
            <div id="card__overlay"></div>
        </div>
        <button id="right" class="button"></button>
    </main>
    <form action="/" id="search" method="post">
        <svg xmlns="http://www.w3.org/2000/svg" id="lupa" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="10" cy="10" r="7" />
            <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
        <input type="text" placeholder="Ingresa superheroe" id="searchinput" name="nombre">
    </form>
    <script src="app.js"></script>
    <script src="main.js"></script>
</body>
</html>