<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>SecondMidterm</title>
</head>
<body>
    <h1 class="Title">SuperHeroPedia!</h1>
    <main>
        <div id="card">
            <div class="container">
                <h3 id="card__title">Batman</h3>
                <img class="img" src="https://www.superherodb.com/pictures2/portraits/10/100/1496.jpg" alt="">
                <h4>Information</h4>
                <table>
                    <% for (const [key, value] of Object.entries(name)) { %>
                        <tr>
                            <td><%= key %></td>
                            <% if(typeof(value) == 'string'){ %>
                                <td><%= value %></td>
                              <% } else{ %>  
                                <% value.forEach(element => { %>
                                    <td><%= element %></td>
                                <%  }) %>
                            <% } %>
                        </tr>
                     <% } %>
                </table>
                <!-- <table>
                    <tr>
                      <td>Full Name:</td>
                      <td>Bruce Wanye</td>
                    </tr>
                    <tr>
                        <td>Alignment:</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>Place of birth:</td>
                        <td>Crest Hill, Bristol Township; Gotham County</td>
                    </tr>
                    <tr>
                      <td>First Appearance:</td>
                      <td>Detective Comics #27</td>
                    </tr>
                    <tr>
                        <td>Publisher:</td>
                        <td>DC Comics</td>
                    </tr>
                </table> -->
                <div id="aditional">
                    <table>
                        <td>Powerstats:</td>
                        <td>
                            "intelligence": "100" <br>
                            "strength": "26" <br>
                            "speed": "27" <br>
                            "durability": "50" <br>
                            "power": "47" <br>
                            "combat": "100" <br>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script src="app.js"></script>
    <script src="main.js"></script>
</body>
</html>