<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>SecondMidterm</title>
</head>
<body>
    <h1 class="Title">SuperHeroPedia!</h1>
    <main>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="5" y1="12" x2="19" y2="12" />
            <line x1="5" y1="12" x2="9" y2="16" />
            <line x1="5" y1="12" x2="9" y2="8" />
          </svg>
        <div id="card">
            <div class="container">
                <h3 id="card__title">Batman</h3>
                <img class="img" src="https://www.superherodb.com/pictures2/portraits/10/100/1496.jpg" alt="">
                <h4>Information</h4>
                <table>
                    <table>
                        <% for (const [key, value] of Object.entries(name)) { %>
                            <tr>
                                <td><%= key %></td>
                                <% if(typeof(value) == 'string'){ %>
                                    <td><%= value %></td>
                                  <% } else{ %>  
                                    <% value.forEach(element => { %>
                                        <td><%= element %></td>
                                    <%  }) %>
                                <% } %>
                            </tr>
                         <% } %>
                    </table>
                </table>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="5" y1="12" x2="19" y2="12" />
            <line x1="15" y1="16" x2="19" y2="12" />
            <line x1="15" y1="8" x2="19" y2="12" />
          </svg>
    </main>
    <form action="">
        <!-- <input type="text" name="" id="" value="Search Bar"> -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="10" cy="10" r="7" />
            <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
    </form>
    <script src="app.js"></script>
</body>
</html>